<div class="alert alert-block alert-success">
    Usecase:<br>
        1. data clean on particular columns - here remove Scientific notation(mainly E+)
 which came in CSV from database select query.
</div>

In [1]:
import pandas as pd
pd

In [5]:
pd.__version__

'1.5.1'

In [6]:
#!pip install --upgrade pandas

In [7]:
df = pd.read_csv(r'/Users/xxxx/Downloads/Active invnentory import_update - Copy.csv',encoding = "ISO-8859-1")

In [8]:
def change_e_to_number(value_str):
    try:
        return int(float(value_str))
    except:
        return value_str

In [9]:
df['PartNumber_Changed']    = df['PartNumber'].apply(change_e_to_number)
df['ProductNumber_Changed'] = df['ProductNumber'].apply(change_e_to_number)

In [17]:
df_chg = df[["PartNumber", "PartNumber_Changed","ProductNumber","ProductNumber_Changed"]]
df_chg.query('(PartNumber != PartNumber_Changed) | (ProductNumber != ProductNumber_Changed ) ').head(10)

      PartNumber PartNumber_Changed  ProductNumber ProductNumber_Changed
20        test-1             test-1            NaN                   NaN
21  203100000064       203100000064      2.031E+11          203100000000
22  203100000064       203100000064      2.031E+11          203100000000
23  203100000064       203100000064      2.031E+11          203100000000
35  101011050001       101011050001  101011050001B         101011050001B
42  101012010022       101012010022    1.01012E+11          101012000000
44  101012010023       101012010023    1.01012E+11          101012000000
47  101012010035       101012010035    1.01012E+11          101012000000
58  101012010051       101012010051    1.01012E+11          101012000000
60  101012010052       101012010052    1.01012E+11          101012000000

In [38]:

df_chg[df_chg['PartNumber'].str.contains("E")].tail(10)

          PartNumber PartNumber_Changed  ProductNumber ProductNumber_Changed
14175          3346E              3346E          3346E                 3346E
14177          4047E              4047E          4047E                 4047E
14178     4047E (CA)         4047E (CA)     4047E (CA)            4047E (CA)
14179         4655EP             4655EP         4655EP                4655EP
14180    4655EP (CA)        4655EP (CA)    4655EP (CA)           4655EP (CA)
14184   AB520EJ (CA)       AB520EJ (CA)   AB520EJ (CA)          AB520EJ (CA)
14196     EV506G-170         EV506G-170     EV506G-170            EV506G-170
14204  101055060008E      101055060008E  101055060008E         101055060008E
14220   ML340EJ (CA)       ML340EJ (CA)   ML340EJ (CA)          ML340EJ (CA)
14250  101016050003E      101016050003E  101016050003E         101016050003E

In [39]:
df.to_csv(r'/Users/xxxx/Downloads/Active invnentory import_updated - Copy.csv',encoding = "ISO-8859-1")